"autocomplete-paths":
  scopes: [
    {
      scopes: [
        "images"
        "source.twig"
        "text.html.twig"
      ]
      prefixes: [
        "include\\directory\\~"
        "\\.\\/"
        'import\\s+.*?from\\s+[\'"]', # import foo from '
        'require\\([\'"]', # require('
        'define\\(\\[?[\'"]' # define([' or define('
      ]
      extensions: [
        "png",
        "jpg",
        "jpeg",
        "gif",
        "svg",
        "twig",
        "html.twig"
      ]
      replaceOnInsert: [ # Replaces the file extensions on insert
        ['.jpg?$', ''],
        ['.jpeg$', ''],
        [
          "(@[2-9]x)\\.png?$"
          ".jpg?$"
          ".jpeg?$"
          ".gif?$"
          ".svg?$"
          ".twig?$"
          ".html.twig?$"
        ]
      ]
      relative: true, #// Inserts relative paths only - defaults to true
      includeCurrentDirectory: true, #// Include './' in path - defaults to true
      projectRelativePath: false, #// Includes full relative path starting after the project directory
    }
  ]
